nav {
  background-color: lightgray;
}
nav > * {
  color: black;
  display: inline-block;
  margin: 0;
  padding: 12px;
  text-decoration: none;
}
nav a.active, nav a:hover {
  background-color: white;
}
.container {
  margin: 12px;
}